/*.suo
/NovelAnalysis/bin/Debug/MyData
/NovelAnalysis/bin/Debug/backup
/.vs
/NovelAnalysis/obj
/NovelAnalysis/bin/Debug/JiebaNet.Analyser.dll
/NovelAnalysis/bin/Debug/JiebaNet.Analyser.dll.config
/NovelAnalysis/bin/Debug/JiebaNet.Analyser.pdb
/NovelAnalysis/bin/Debug/JiebaNet.Segmenter.dll
/NovelAnalysis/bin/Debug/JiebaNet.Segmenter.dll.config
/NovelAnalysis/bin/Debug/JiebaNet.Segmenter.pdb
/NovelAnalysis/bin/Debug/Newtonsoft.Json.dll
/NovelAnalysis/bin/Debug/Newtonsoft.Json.xml
/NovelAnalysis/bin/Debug/NLPIR.dll
/NovelAnalysis/bin/Debug/NovelAnalysis.exe
/NovelAnalysis/bin/Debug/NovelAnalysis.exe.config
/NovelAnalysis/bin/Debug/NovelAnalysis.pdb
/NovelAnalysis/bin/Debug/NovelAnalysis.vshost.exe
/NovelAnalysis/bin/Debug/NovelAnalysis.vshost.exe.config
/NovelAnalysis/bin/Debug/NovelAnalysis.vshost.exe.manifest
/NovelAnalysis/bin/Debug/nunit.framework.dll
/NovelAnalysis/bin/Debug/nunit.framework.xml
/NovelAnalysis/bin/Debug/NUniversalCharDet.dll
/新建文件夹
/packages
/NovelAnalysis/*.csproj
